.AboutStyle {
    position: relative;
    background-color: white;
    padding: 5rem 0;
}

.AboutContainer {
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.leftAboutSec {
    flex: 1;
}

.leftAboutSec .AboutCategory {
    word-break: break-word;
    max-width: 500px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: auto;
}

.leftAboutSec .AboutBody {
    margin-top: 0px;
}

.leftAboutSec .AboutCategory div span {
    line-height: normal;
}

.leftAboutSec .AboutCategory:not(:first-child){
    margin-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .leftAboutSec p {
        font-size: 1rem;
    }
}

.rightAboutSec {
    flex: 1;
}

.abouttitle {
    text-align: center;
}

.rightAboutSec img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
}

.AboutSecButtons {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 950px) {
    .leftAboutSec {
        flex: 4;

    }
    .rightAboutSec {
        flex: 3;
    }
}

@media only screen and (max-width: 768px) {
    .AboutContainer {
        flex-direction: column;
        text-align: center;


    }
    .leftAboutSec {
        width: 100%;
    }

    .rightAboutSec {
        width: 100%;
        margin-top: 3rem;
    }

    .abouttitle {
        text-align: center;
    }

    .AboutSecButtons {
        flex-direction: row;
        gap: 5rem;
    }

}

@keyframes spin {
    from {transform:rotate(45deg);}
    to {transform:rotate(1125deg);}
}

.green-diamond {
    margin: auto;
    background: #cdfdda;
    height: 60px;
    text-align: center;
    transform:rotate(45deg);
    width:60px;


    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    transition: all ease-in-out 0.25s;
}

.green-diamond:hover {
    cursor: pointer;
    background-color: #85a88e;
}

.diamond-icons {
    color: black;
    display: table-cell;
    height: 60px;
    transform: rotate(-45deg);
    vertical-align: middle;
    width:60px;
}


/* FadeInUp Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}