.experiences {
    position: relative;
    background-color: #cdfdda;
}
.experiences h1 {
    text-align: center;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.experiences h3 {
    text-align: center;
    font-size: 1.4em;
    margin: 0;
    color: #000;
}

.experiences h5 {
    text-align: center;
    margin: 0;
}
.experiences p {
    text-align: center;
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

.experiences a {
    color: #000;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
}


.experiences a:hover {
        color: rgb(122, 122, 122)
}



.vertical-timeline-element-content {
    width: 100%;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
    list-style: none;
    background-color: #cdfdda;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
     0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em;
    word-break:break-word;
}


.date {
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}


.vertical-timeline-element-icon {
    cursor: pointer;
    background-color: #cdfdda;
    transition: all ease-in-out 0.25s;
}

.vertical-timeline-element-icon:hover {
    background-color: #85a88e;
}


#desc {
    margin: 1.5em 0 2em 0;
}
