.title {
    background-color: #cdfdda;
}

.greeting {
    font-size: 4vw;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20vw;
}

.greetingsub {
    text-align: center;
}

.greetingsub p {
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    font-size: 2vw;
    padding-top: 0.5vw;
}

.greetingsub h6 {
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    font-size: 1.1vw;
    padding-top: 0.5vw;
    transform: translate(0px, 2.5vw);
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49.5% {
        opacity: 0;
    }
    50.5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}